<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>
    Please add the amount of rows and columns you want the board to be:
  </h2>
  <form (ngSubmit)="createBoard()" [formGroup]="boardGroup">
    <div class="row">
      <app-input
        class="col-xs-6"
        [label]="'Rows'"
        [control]="boardGroup.get('rows')">
      </app-input>
      <app-input
        class="col-xs-6"
        [label]="'Columns'"
        [control]="boardGroup.get('columns')">
      </app-input>
    </div>
    <div>
      <app-button
        [disabled]="boardGroup.invalid"
        type="submit">
        Create Board
      </app-button>
    </div>
    <div
      *ngIf="boardCreated"
      class="game-container">
      <app-board
        [rows]="boardGroup.get('rows').value"
        [columns]="boardGroup.get('columns').value">
      </app-board>
    </div>
  </form>
</div>
