<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>
    Please add the amount of rows and columns you want the board to be:
  </h2>
  <form (ngSubmit)="createBoard()" [formGroup]="boardGroup">
    <div>
      <app-input
        [label]="'Rows'"
        [control]="boardGroup.get('rows')">
      </app-input>
    </div>
    <div>
      <app-input
        [label]="'Columns'"
        [control]="boardGroup.get('columns')">
      </app-input>
    </div>
    <div>
      <button
        [disabled]="boardGroup.invalid"
        type="submit">
        Create Board
      </button>
    </div>
    <div class="game-container">
      <app-board></app-board>
    </div>
  </form>
</div>
