<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>
    Please enter board size:
  </h2>
  <form (ngSubmit)="createBoard()" [formGroup]="boardGroup">
    <div class="row">
      <app-input
        class="col-xs-offset-3 col-xs-6"
        [label]="'Size'"
        [control]="boardGroup.get('size')">
      </app-input>
    </div>
    <div *ngIf="!boardCreated">
      <app-button
        [disabled]="boardGroup.invalid"
        type="submit">
        Create Board
      </app-button>
    </div>
    <div
      *ngIf="boardCreated"
      class="game-container">
      <app-board
        [validForm]="boardGroup.valid"
        [rows]="boardGroup.get('size').value"
        [columns]="boardGroup.get('size').value">
      </app-board>
    </div>
  </form>
</div>
