<div class="board-container">
  <app-button
    [disabled]="!validForm"
    class="margin-bottom"
    (click)="initializeBoard()">
    Clear/Restart Board
  </app-button>
  <div class="active-player margin-bottom">
    Active player:
    <span
      class="player"
      [ngClass]="{
            'player-1': player === 1,
            'player-2': player === 2
            }">
      {{player}}
    </span>
  </div>
  <div class="circles-container">
    <div
      *ngFor="let column of boardGame; index as columnIndex"
      class="board-column">
    <span
      class="column-title"
      [ngClass]="{
            'player-1': player === 1,
            'player-2': player === 2
            }"
      (click)="addTile({columnIndex: columnIndex, rowIndex: 0})">
      Click to add
    </span>
      <div
        *ngFor="let row of column; index as rowIndex"
        class="column-row">
        <app-circle
          [highlight]="boardGame[columnIndex][rowIndex].highlight"
          [rowIndex]="rowIndex"
          [player]="boardGame[columnIndex][rowIndex].player"
          [columnIndex]="columnIndex"
          (clicked)="addTile($event)">
        </app-circle>
      </div>
    </div>
  </div>
</div>
