.board-container {
  .circles-container {
    border: 1px solid black;
  }

  .board-column {
    display: inline-block;

    .column-title {
      cursor: pointer;
    }
  }
  .margin-bottom {
    margin-bottom: 20px;
  }
}
